<div class="jogoContainer">
    <h1>Jogo de adivinhação</h1>

    <div *ngIf="!jogoTerminado" class="conteudoJogo">
        <div class="letreiroPrincipal">
            <div class="quantidadeChutes">
                <p class="chutesRestantes">{{ chutesRestantes }}</p>
                <p class="labelChutes">Chutes restantes:</p>
            </div>

            <div class="letreiro">
                <p class="labelPalavra">Palavra:</p>
                <p class="palavraAdivinhar">{{ palavraAdvinhada.join(' ') }}</p>
            </div>
        </div>

        <div class="erros">
            <p>Chutes errados: {{ chutesErrados.join(' - ') }}</p>
        </div>

        <div class="intefaceAdivinhacao">
            <label for="letraInput">Digite uma letra:</label>
            <input id="letraInput" type="text" maxlength="1" (keyup.enter)="realizarChute()" [(ngModel)]="letraChute"
                name="letraChute" placeholder="Digite uma letra" />
            <button type="submit" (click)="realizarChute()">Chutar</button>
        </div>
    </div>

    <div class="jogoTerminou" *ngIf="jogoTerminado">
        <p *ngIf="!jogoTerminado">Palavra Secreta: {{ palavraSecreta }}</p>
        <p *ngIf="jogoTerminado">{{ mensagemFimDeJogo }}</p>
        <button (click)="novaRodada()">Jogar Novamente</button>
    </div>

</div>